Intermediate/
Source/ThirdParty/InkGlue/InkGlue/bin/
Source/ThirdParty/InkGlue/InkGlue/obj/InkGlue.csproj.nuget.cache
Source/ThirdParty/InkGlue/InkGlue/obj/
ExampleProject/Saved/
ExampleProject/DerivedDataCache/
*.pdb
Binaries/
Source/ThirdParty/InkGlue/.vs/
