Intermediate/
Plugins/UnrealInk/Source/ThirdParty/InkGlue/InkGlue/bin/
Plugins/UnrealInk/Source/ThirdParty/InkGlue/InkGlue/obj/
Plugins/UnrealInk/Source/ThirdParty/InkGlue/InkGlueTest/bin/
Plugins/UnrealInk/Source/ThirdParty/InkGlue/InkGlueTest/obj/
ExampleProject/Saved/
ExampleProject/DerivedDataCache/
*.pdb
Binaries/
Source/ThirdParty/InkGlue/.vs/
.vs/
Saved/
